---
import Newsletter from "@components/blog/Newsletter.astro";
import { languages } from "@i18n/ui";
import { getLangFromUrl, getUrlWithoutLang, useTranslatedPath, useTranslations } from "@i18n/utils";
import { Icon } from "astro-icon/components";

const currentLang = getLangFromUrl(Astro.url);
const path = getUrlWithoutLang(Astro.url);
const t = useTranslations(currentLang);
const translatePath = useTranslatedPath(currentLang);
---

<footer class="relative flex min-h-screen w-full flex-col gap-y-10 font-mono uppercase">
	<div class="relative flex-grow"></div>
	<div class="section gap-y-20">
		<div class="col-span-full col-start-1 sm:col-span-1 sm:col-start-2">
			<div class="flex flex-col gap-2 px-4">
				<a href={translatePath("/")}>Home</a>
				<a href={translatePath("/blog/")}>Blog</a>
				<a href={translatePath("/tags/")}>Tags</a>
				<a href={translatePath("/contact/")}>{t("contacts")}</a>
				<a href={translatePath("/terms/")}>Terms</a>
				<a href={translatePath("/privacy/")}>Privacy Policy</a>
				<a href={translatePath("/rss.xml")}>RSS</a>
			</div>
		</div>
		<div class="col-span-full col-start-1 flex flex-col gap-2 sm:col-span-1 sm:col-start-3">
			<a class="px-4" href="https://twitter.com/" target="_blank">Twitter / X</a>
			<a class="px-4" href="https://www.instagram.com/" target="_blank">Instagram</a>
			<a class="px-4" href="https://www.linkedin.com/company/" target="_blank">Linkedin</a>
			<a class="px-4" href="https://tiktok.com/" target="_blank">TikTok</a>
		</div>
		<div class="col-span-full col-start-1 flex items-end py-3 sm:col-span-1 sm:col-start-3 sm:row-start-2 lg:text-xl">
			<a href="mailto:hello@yourcompany.com" class="block cursor-pointer px-4">hello@yourcompany.com</a>
		</div>
		<div
			class="relative col-span-2 col-start-1 mt-4 flex w-full items-end justify-between gap-y-4 py-3 text-sm sm:col-span-1 sm:col-start-1 lg:text-xl">
			<div class="px-4">©2025 Your Company</div>
		</div>
		<div class="col-span-1 col-start-3 flex items-end gap-2 px-4 py-3 sm:col-span-1 sm:col-start-2 lg:text-xl">
			{
				Object.entries(languages).map(([lang, label]) => (
					<a
						class:list={currentLang == lang ? "bg-white text-black" : ""}
						href={translatePath(path, `${currentLang === "it" ? "en" : "it"}`)}>
						{lang}
					</a>
				))
			}
		</div>
		<button id="go-top-button" aria-label="Go to Top" class="col-span-1 col-start-4 flex items-end justify-end py-2 duration-300 sm:col-start-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
				<g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<path d="m15 12l-3-3m0 0l-3 3m3-3v6"></path>
				</g>
			</svg>
		</button>
	</div>
</footer>

<script>
	import { gsap } from "gsap";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	function init() {
		var goTopButton = document.getElementById("go-top-button");

		if (!goTopButton) return;

		goTopButton.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: 0 });
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
